@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import "./assets/scss/index";
//GLOBAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Acme", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
form {
  padding: 1em;
  border-radius: 30px;
  background-color: white;

  h1 {
    color: $primaryCol;
    text-align: center;
    font-size: 35px;
  }
  div {
    position: relative;
    margin: 50px 0;
    input {
      width: 100%;
      padding: 0 5px;
      font-size: 30px;
      color: $primaryCol;
      border: none;
      outline: none;
      border-bottom: 2px solid $primaryCol;
      &:focus ~ label,
      &:valid ~ label {
        transform: translateY(-180%);
      }
    }
    label {
      color: $primaryCol;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 20px;
      pointer-events: none;
      transition: 200ms;
    }
    button {
      cursor: pointer;
      padding: 1em 3em;
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      color: white;
      background-color: $primaryCol;
      border: none;
      border-radius: 30px;
      outline: none;
    }
    small {
      position: absolute;
      transform: translateY(-100%);
      color: red;
      font-size: 15px;
      padding: 10px 0;
    }
  }
}
