@import "../../../assets/scss/index";

header {
  @include displayFlex();
  justify-content: space-between;
  padding: 1em;
  height: 100px;
  background-color: $primaryCol;
  color: white;
  nav {
    @include displayFlex();
    width: 50%;
    list-style: none;
    li {
      font-size: 25px;
      padding: 0.5em 1em;
      border-radius: 30px;
    }
  }
}
.login {
  background-color: white;
  color: purple;
}

.active {
  color: rgb(216, 204, 203);
}

@media screen and (max-width: 768px) {
  .register {
    display: none;
  }
}
