<section>
  <form [formGroup]="registerUserData" (ngSubmit)="registerUser()">
    <h1>
      Create your account!
    </h1>
    <div>
      <input formControlName="login" required />
      <label>Login</label>
    </div>
    <div>
      <input formControlName="password" type="password" required />
      <label>Password</label>
    </div>
    <div>
      <input formControlName="email" type="email" required />
      <label>Email</label>
    </div>
    <div>
      <small *ngIf="registerValidation.status">{{
        registerValidation.message
      }}</small>
      <button
        type="submit"
        [class.is-disabled]="!registerUserData.valid"
        [disabled]="!registerUserData.valid"
      >
        Submit
      </button>
    </div>
  </form>
</section>
