@import "../../../assets/scss/index";
section {
  padding: 1em;
  width: 100%;
  @include displayFlex();
  flex-flow: column;
  div {
    @include displayFlex();
    flex-flow: column;
    max-width: 800px;
    width: 90%;
  }
}
.post {
  background-color: rgb(213, 54, 228);
  padding: 1em;
  h1 {
    color: white;
  }
  form {
    padding: 1em;
    border-radius: none;
    background-color: inherit;
    width: 100%;
    @include displayFlex();
    flex-flow: column;
    textarea {
      padding: 0.5em;
      font-size: 20px;
      border-radius: 25px;
      outline: none;
      resize: none;
      width: 90%;
      height: 120px;
    }
    button {
      cursor: pointer;
      margin: 20px 0 0 0;
      padding: 1em 3em;
      font-size: 16px;
      font-weight: bold;
      background-color: white;
      outline: none;
      color: $primaryCol;
      border-radius: 30px;
      border: none;
    }
  }
}
.feed {
  width: 100%;
  border: 2px solid $primaryCol;
  padding: 1em 0;
  color: $primaryCol;
  min-height: 90vh;

  ul {
    list-style: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;

    div {
      width: 100%;
    }
  }
  .post {
    padding: 1em 0.2em;

    form {
      textarea {
        width: 100%;
      }
    }
  }
  .feed {
    border: none;
  }
}
