<section>
  <div>
    <div>
      <h2>Hello {{ username }}!</h2>
    </div>
    <div class="post">
      <h1>Create new post</h1>
      <form [formGroup]="newPost" (ngSubmit)="createPost()">
        <textarea formControlName="body" placeholder="What's up?"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="feed">
      <h1>Posts</h1>
      <ul>
        <app-post
          *ngFor="let post of posts.slice().reverse(); let i = index"
          [post]="post"
          [username]="username"
          (deletePost)="deletePost(post)"
        >
        </app-post>
      </ul>
    </div>
  </div>
</section>
<app-footer></app-footer>
