@import "../../../assets/scss/index";
section {
  padding: 1em;
  div {
    width: 100%;
    @include displayFlex();
    flex-flow: column;
    form {
      width: 100%;
    }
  }
  ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
}
