<section>
  <div>
    <h1>Create new post</h1>
    <form [formGroup]="newPost" (ngSubmit)="createPost()">
      <input formControlName="body" placeholder="your post" />
      <button type="submit">Send</button>
    </form>
  </div>
  <h1>Posts</h1>
  <div>
    <ul>
      <li *ngFor="let post of posts.slice().reverse(); let i = index">
        <h3>
          {{ post.author }}
        </h3>
        <p>{{ post.body }}</p>
        <small>{{ post.date | date: "medium" }}</small>
      </li>
    </ul>
  </div>
</section>
