<li>
  <div class="details">
    <div>
      <h3>
        {{ post.author }}
      </h3>
      <small>{{ post.date | date: "short" }}</small>
    </div>
    <div *ngIf="post.author == username" class="options">
      <button (click)="editOnClick()">EDIT</button>
      <button (click)="deleteThisPost()">DELETE</button>
    </div>
  </div>
  <div *ngIf="!isEditorOpen" class="post-body">
    <p>{{ post.body }}</p>
  </div>
  <div *ngIf="isEditorOpen" class="post-body">
    <textarea
      >{{ post.body }}
    </textarea>
    <button (click)="editThisPost()">Save</button>
    <button (click)="editOnClick()">Cancel</button>
  </div>
</li>
